<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sample.dao.PersonDao">

    <select id="getPersonById" resultType="PersonDTO">
        SELECT
        `id` as id,
        `age` as age,
        `name` as `name`
        FROM person
        WHERE id = ${id}
    </select>

</mapper>
